<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">                              
    <meta name="viewport" content="width=device-width, initial-scale=1.0">      
    <meta http-equiv="X-UA-Compatible" content="ie=edge">          
    <title>Devices Page</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body class="device">
    <header class="main-header">
        <div class="top-row">
            <div class="logo">
                <a href="/"><img src="static/images/jetTradingLogo.png" alt="Jet Trading Logo"></a>
            </div>
            <nav class="main-nav">
                <ul class="nav-list">
                    <li class="nav-item dropdown">
                        <a href="/devices" class="nav-link">Devices</a>
                        <div class="dropdown-menu">
                            <a href="/devices?category=laptops" class="dropdown-item">Laptops</a>
                            <a href="/devices?category=printers" class="dropdown-item">Printers</a>
                            <a href="/devices?category=tablets" class="dropdown-item">Tablets</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link">Accessories</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Cables</a>
                            <a href="#" class="dropdown-item">Bags</a>
                            <a href="#" class="dropdown-item">Headphones</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link">About</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Our Story</a>
                            <a href="#" class="dropdown-item">Contact</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="search-row">
                <form class="search-form" action="/devices" method="get">
                    <input type="text" name="query" placeholder="Search for products..." required> 
                    <button type="submit" class="search-button">
                        <img src="/static/images/search.png" alt="Search">
                    </button>
                </form>
            </div>

            <div class="cart-and-auth">
                <a href="/login" class="add-to-cart-link">
                <img src="static/images/cart-icon.png" class="add-to-cart-icon" alt="Add to cart" style="width:35px; height:35px">
                <div>Cart</div>    
                </a> 
            
                <div class="auth-links">
                    <a href="login" class="auth-btn login-btn">Login</a> 
                    <a href="signup" class="auth-btn signup-btn">Register</a>
                </div>
            </div>
        </div>
    </header>
    <main class="devices-container">
        <nav class="breadcrumbs">
            <a href="/">Home</a> > <span>$$CATEGORY$$</span>
        </nav>
        <h1 class="heading-all-devices">$$CATEGORY$$</h1>
        <div class="devices-grid">
            $$DEVICES$$
        </div>
    </main>
    
    <script src="static/script.js"></script>
</body>
</html>